<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic-Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <video #video [hidden]="!cameraActive" width="100%" autoplay></video>

  <ion-button *ngIf="!cameraActive" expand="full" (click)="openCamera()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Open Camera
  </ion-button>

  <ion-button *ngIf="cameraActive" expand="full" (click)="closeCamera()">
    <ion-icon slot="start" name="camera-reverse"></ion-icon>
    Close Camera
  </ion-button>
</ion-content>
